<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<meta name="description" content="" />
		<meta name="keywords" content="" />

		<link rel="stylesheet" href="../styles/modules/main.css" type="text/css" />
		<link rel="stylesheet" href="../styles/viewArticle.css" type="text/css" />
		<script src="../scripts/modules/main.js" type="text/javascript"></script>
		<script src="../scripts/viewArticle.js" type="text/javascript"></script>

		<link rel="preconnect" href="https://fonts.googleapis.com" />
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
		<link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet" />
		<link rel="preconnect" href="https://fonts.googleapis.com" />
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
		<link href="https://fonts.googleapis.com/css2?family=Wix+Madefor+Display:wght@400..800&display=swap" rel="stylesheet" />

		<title>Article</title>
	</head>
	<body>
		<div id="header">
			<div id="logo-wrapper"><div class="logo"></div></div>
			<div id="header-buttons-wrapper">
				<div class="menu-button pressable-button home-button montserrat-for-titles">Начало</div>
				<div class="menu-button pressable-button news-button montserrat-for-titles">Новини</div>
				<div class="menu-button pressable-button projects-button montserrat-for-titles">Проекти</div>
				<div class="menu-button pressable-button about-button montserrat-for-titles">За нас</div>
				<div class="menu-button pressable-button contacts-button montserrat-for-titles">Контакти</div>
			</div>
			<div id="menu"></div>
			<div id="floating-menu">
				<div class="menu-button pressable-button home-button montserrat-for-titles">Начало</div>
				<div class="menu-button pressable-button news-button montserrat-for-titles">Новини</div>
				<div class="menu-button pressable-button projects-button montserrat-for-titles">Проекти</div>
				<div class="menu-button pressable-button about-button montserrat-for-titles">За нас</div>
				<div class="menu-button pressable-button contacts-button montserrat-for-titles">Контакти</div>
			</div>
		</div>
		<div id="go-up-button"></div>
		<div id="content">
			<div id="big_image_backbround">
				<div id="image"></div>
			</div>
			<div id="content-borders">
				<div id="small-images-content">
					<div id="small-images-wrapper"></div>
				</div>
				<div id="main-content">
					<img id="image-holder" />
					<div id="article-title" class="montserrat-for-titles"></div>
					<div id="article-date"></div>
					<div id="article-content" class="wix-madefor-display-for-long-text"></div>
				</div>
			</div>
		</div>
		<div id="footer">
			<div class="logo" id="footer-logo"></div>
			<div id="footer-navigation-and-copyright-wrapper">
				<div id="footer-navigation-buttons">
					<div class="menu-button pressable-button home-button montserrat-for-titles">Начало</div>
					<div class="menu-button pressable-button news-button montserrat-for-titles">Новини</div>
					<div class="menu-button pressable-button projects-button montserrat-for-titles">Проекти</div>
					<div class="menu-button pressable-button about-button montserrat-for-titles">За нас</div>
					<div class="menu-button pressable-button contacts-button montserrat-for-titles">Контакти</div>
				</div>
				<div id="footer-copyright"></div>
			</div>
			<div id="footer-contacts">
				Контакти
				<div id="footer-pictograms">
					<div class="footer-contacts-button" id="email-pictogram"></div>
					<div class="footer-contacts-button" id="facebook-pictogram"></div>
					<div class="footer-contacts-button" id="instagram-pictogram"></div>
				</div>
			</div>
		</div>
	</body>
</html>
